<ul>
    {{ range .Site.Pages.ByWeight.Reverse }}
        {{ if eq .LinkTitle "release help" }}
            <li>
                    <a href="{{.Site.BaseURL}}/download/{{ .Params.version }}/release"><b>{{ .Params.version }}</b></a>
                    (<a href="https://gitlab.com/juhani/go-semrel-gitlab/tags/{{ .Params.version }}">release note</a>)
            </li>
        {{ end }}
    {{ end }}
</ul>
